<html>
<meta charset='utf-8'>
<head>
	<link rel="stylesheet" href="vendor/css/bootstrap.css" />
	<!-- <link rel="stylesheet" href="vendor/fontawesome.min.css" /> -->
	<style type="text/css">
		
	</style>
</head>
<body ng-app="myApp" ng-controller="MyController">
	<div class="container">
		<div class="card" ng-repeat = "item in data" ng-init="item.display=true">
			<div ng-show="item.display">
				<div class="card-header">
					<b class="float-xs-right" ng-click="changeDisplay(item);"><i class="fas fa-pencil-alt"></i></b>
					<b>Tên : </b><i>{{item.name}}</i><br />
				</div>
				<div class="card-body">
					<div>
					<b>Năm sinh : </b><i>{{item.year}}</i><br />
					<b>Câu lạc bộ : </b><i>{{item.club}}</i><br />
					</div>
				</div>
			</div>

			<div ng-show="!item.display">
				<div class="card-header">
					<b class="float-xs-right" ng-click="changeDisplay(item);"><a href="" class="btn btn-outline-danger">Save</a></b>
					<b>Tên : </b><input type="text" name="txtName" ng-model="item.name"/><br />
				</div>
				<div class="card-body">
					<div>
						<b>Năm sinh : </b><input type="text" name="txtYear" ng-model="item.year"/><br />
						<b>Câu lạc bộ : </b><input type="text" name="txtClub" ng-model="item.club"/><br />
					</div>
				</div>
			</div>
		</div>
	</div>	
	
	<script src="vendor/js/bootstrap.js"></script>
	<script src="vendor/js/fontawesome-all.js"></script>
	<script src="vendor/js/angular-1.5.min.js"></script>
	<script src="vendor/js/1.js"></script>
</body>
</html>